html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.layout_body{
  background-color: #eee;
  width: 100vw;
  height: 100vh;
  position: relative;
}
.layout_nav{
  background-color: #fff;
  width: 100vw;
  height: 70px;
  line-height: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}
.layout_footer{
  background-color: #fff;
  width: 100vw;
  height: 70px;
  line-height: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: rgb(71, 71, 71);
  position: absolute;
  bottom: 0;
  left: 0;
}
.getdata_card{
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 7px;
}
.getdata_card p{
  color: rgba(0, 0, 0, 0.6);
  padding: 0;
  margin-bottom: 5px;
}
.getdata_card p span{
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
.form_upload{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
.form_delete > div > div{
  width: 100%;
}
.form_upload > div{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form_upload > div > input{
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 10px; 
}

.deletedata_card{
  width: 400px;
  margin: 50px auto;
}